<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/application.css" rel="stylesheet">
  </head>
  <body>
    <section id="sugarcrm" class="container">
    </section>

    <script type="text/html" id="template-sugarcrm">
      <!-- Parameters -->
      <div id="parameters" class="row"></div>
      <!-- Topology -->
      <div id="topology" class="row"></div>
      <!-- Calculations -->
      <div id="calculations" class="row"></div>  
    </script>
    
    <script type="text/html" id="template-parameters">
      <div class="span4">
        <ul>
          <li><input id="concurrentUsers" class="calculateable input-small" size="4" type="text" value=<%= concurrentUsers %>></li>
          <li><p>Concurrent Users</p></li>
        </ul>
      </div>
      <div class="span4">
        <ul>
          <li><input id="records" class="calculateable input-small" size="4" type="text" value=<%= records %>></li>
          <li><p>Database Records</p></li>
        </ul>
      </div>
      <div class="span4">
        <ul>
          <li><input id="requestsPerSecond" class="calculateable input-small" size="4" type="text" value=<%= requests_per_second %> disabled></li>
          <li><p>Reqs Per Second</p></li>
        </ul>
      </div>
    </script>

    <script type="text/html" id="template-topology">
      <div class="span6 servers">
        <ul>
          <li><h1><%= web_servers.length %></h1></li>
          <li><span class="server-type">Web Servers</span></li>
        </ul>
        <div class="server-details">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Per Server</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="category">CPU</td>
                <td class="per-server"><%= web_servers[0].cpu.cores %> x <%= web_servers[0].cpu.clock %> GHz</td>
                <td class="total"><%= web_cpu %> GHz</td>
              </tr>
              <tr>
                <td class="category">RAM</td>
                <td class="per-server"><%= web_servers[0].ram %> GB</td>
                <td class="total"><%= web_ram %> GB</td>
              </tr>
              <tr>
                <td class="category">Storage</td>
                <td class="per-server"><%= web_disks %> x 146GB 10k RPM</td>
                <td class="total"><%= web_iops %> IOPS</td>
              </tr>
              <tr>
                <td class="category">Bandwidth</td>
                <td class="per-server"><%= peak_bandwidth %> Mbps</td>
                <td class="total"><%= peak_bandwidth %> Mbps</td>
              </tr>
            </tbody>
          </table>
          <span class="notes"><b>Notes:</b> RAID 1, GlusterFS for instance files</span>
        </div>
      </div>
      <div class="span6 servers">
        <ul>
          <li><h1><%= db_servers.length %></h1></li>
          <li><span class="server-type">Database Servers</span></li>
        </ul>
        <div class="server-details">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Per Server</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="category">CPU</td>
                <td class="per-server"><%= db_cores %> x <%= db_servers[0].cpu.clock %> GHz</td>
                <td class="total"><%= db_cpu %> GHz</td>
              </tr>
              <tr>
                <td class="category">RAM</td>
                <td class="per-server"><%= db_ram_increments %> GB</td>
                <td class="total"><%= db_ram %> GB</td>
              </tr>
              <tr>
                <td class="category">Storage</td>
                <td class="per-server"><%= db_disks %> x 500GB 10k RPM</td>
                <td class="total"><%= db_iops %> IOPS</td>
              </tr>
              <tr>
                <td class="category">Database</td>
                <td class="per-server"><%= db_size %> GB</td>
                <td class="total"><%= db_size %> GB</td>
              </tr>
            </tbody>
          </table>
          <span class="notes"><b>Notes:</b> RAID 10, Active/Active MySQL</span>
        </div>
      </div>
    </script>
    
    <script type="text/html" id="template-solution-row">
      <tr>
        <td><input id="<%= id %>" class="solutions calculateable" type="checkbox"></td>
        <td><%= name %></td>
        <td><span id="<%= id %>_web_rps" class="web_rps"><%= web %></span> req/sec</td>
        <td><span id="<%= id %>_api_rps" class="api_rps"><%= api %></span> req/sec</td>
        <td><span id="<%= id %>_db_rw"   class="db_rw"><%= db.read %>:<%= db.write %></span> r/w ratio</td>
      </tr>
    </script>
    <script type="text/html" id="template-server-row">
      <tr>
        <td><%= name %></td>
        <td><%= make + " " + model %></td>
        <td><%= cpu.cores + " x " + cpu.clock %> GHz</td>
        <td><%= ram %> GB</td>
        <td><%= _.reduce(storage, function(h, s){ return h + s.quantity + " x " + s.size + "GB" }, '') %></td>
        <td>$ <%= price %></td>
      </tr>
    </script>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/jquery-priceformat.js"></script>
    <script src="assets/js/vendor/bootstrap.js"></script>
    <script src="assets/js/vendor/underscore.js"></script>
    <script src="assets/js/vendor/backbone.js"></script>
    <script src="assets/js/vendor/backbone-localstorage.js"></script>
    <script src="assets/js/sugarcrm.js"></script>
    <script src="assets/js/models/operating_systems.js"></script>
    <script src="assets/js/models/environments.js"></script>
    <script src="assets/js/models/solutions.js"></script>
    <script src="assets/js/models/parameters.js"></script>
    <script src="assets/js/models/servers.js"></script>
    <script src="assets/js/views/parameters.js"></script>
    <script src="assets/js/views/calculator.js"></script>
    <script src="assets/js/views/topology.js"></script>
    <script src="assets/js/application.js"></script>
    
  </body>
</html>