<script type="text/html" id="template-parameters">
<div class="page-header">
  <h2>Parameters</h2>
</div>

<div class="row">
  <div class="span2">
    <label class="text">Licensed Users</label>
    <div class="input-append">
      <input id="totalUsers" class="calculateable input-small" size="4" type="text" value="1,000"><span class="add-on"><i class="icon-user"></i></span>
    </div>
  </div>
  <div class="span2">
    <label class="text">Concurrency</label>
    <div class="input-append">
      <input id="concurrency" class="calculateable input-small" size="4" type="text" value="50"><span class="add-on">%</span>
    </div>
  </div> 

  <div class="span2">
    <label class="text">Database Records</label>
    <div class="input-append">
      <input id="totalRecords" class="calculateable input-small" size="4" type="text" value="1,000,000"><span class="add-on"><i class="icon-folder-close"></i></span>
    </div>
  </div>
  
  <div class="span2">
    <label>Environment</label>
    <select id="provider" class="calculateable input-small">
      <option>On-Site</option>
      <option>Amazon</option>
    </select>
  </div>
  <div class="span2">
    <label>Operating System</label>
    <select id="operatingSystem" class="calculateable input-small">
      <option>Linux</option>
      <option>Windows</option>
    </select>
  </div>
  <div class="span2">
    <label>Web Server</label>
    <select id="webServer" class="calculateable input-small">
      <option>Apache</option>
      <option>IIS</option>
    </select>
  </div>
  <div class="span2">
    <label>Database</label>
    <select id="dbServer" class="calculateable input-small">
      <option>MySQL</option>
      <option>MSSQL</option>
      <option>Oracle</option>
      <option>DB2</option>
    </select>
  </div>
  <div class="span2">
    <label>PHP Version</label>
    <select id="dbServer" class="calculateable input-small">
      <option>5.2</option>
      <option>5.3</option>
    </select>
  </div>
  
</div>

<div class="row">
  <div class="span8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Enabled</th>
          <th>Solution</th>
          <th>Web Requests / User</th>
          <th>API Requests / User</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input id="sfa" class="solutions calculateable" type="checkbox"></td>
          <td>Sales Force Automation</td>
          <td><span id="sfa_web_rps" class="web_rps">0.0333</span> req/sec</td>
          <td><span id="sfa_api_rps" class="api_rps">0</span> req/sec</td>
        </tr>
        <tr>
          <td><input id="call_center" class="solutions calculateable" type="checkbox" checked="true"></td>
          <td>Call Center</td>
          <td><span id="call_center_web_rps" class="web_rps">0.0333</span> req/sec</td>
          <td><span id="call_center_api_rps" class="api_rps">0.2</span> req/sec</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</script>